@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet');

:root {
    --base-color: #f9f9f9;
    --text-color: #1c1c1e;
    --text-color-secondary: #272729;
    --background-light: #ffffff;

    --primary-color: #007aff;
    --secondary-color: #34c759;

    --border-radius: 0.75em;
    --border-color: rgba(128, 128, 128, 0.2);
    --border-color-soft: rgba(128, 128, 128, 0.1);
    --img-border-color: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 6px 16px rgba(0, 0, 0, 0.12);
    --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

    --hover-bg: rgba(128, 128, 128, 0.1);
    --hover-bg-strong: rgba(128, 128, 128, 0.2);

    --font-family: Arial, Helvetica, sans-serif;
    --h1-size: 2.75rem;
    --h2-size: 2rem;
    --p-size: 1.25rem;
    --nav-link-size: 1.2rem;
    --container-max: 85em;
    --container-pad-x: 3em;
    --container-pad-y: 2em;

    --hover-scale: 1.05;
}

body.dark {
    --base-color: #1c1c1e;
    --text-color: #f3f3f3;
    --text-color-secondary: #d1d1d1;
    --background-light: #2a2a2a;

    --primary-color: #0a84ff;
    --secondary-color: #30d158;

    --box-shadow: 0 6px 16px rgba(255, 255, 255, 0.05);
    --card-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);

    --border-color: rgba(255, 255, 255, 0.2);
    --border-color-soft: rgba(255, 255, 255, 0.1);
    --img-border-color: rgba(255, 255, 255, 0.3);

    --hover-bg: rgba(255, 255, 255, 0.1);
    --hover-bg-strong: rgba(255, 255, 255, 0.2);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family);
    background-color: var(--base-color);
    color: var(--text-color);
    padding: 1em;
    line-height: 1.5;
    transition: background-color 0.3s ease, color 0.3s linear;
}

body::-webkit-scrollbar {
    display: none;
}