/* MEDIA QUERY */
@media (max-width: 768px) {
:root {
    --container-pad-x: 1em;
    --container-pad-y: 1.5em;
    --h1-size: 2.25rem;
    --h2-size: 1.8rem;
}

nav {
    padding: 1em var(--container-pad-x);
}

.hamburger {
    display: block;
    z-index: 101; /* Asegura que el botón esté por encima del menú */
}

.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--background-light);
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    z-index: 100;
}

.nav-links a {
    font-size: 2rem;
    padding: 1em 0;
    text-align: center;
}

.nav-links.active {
    transform: translateX(0);
}

.btn-cv {
    display: none;
}

header,
section,
footer {
    padding: var(--container-pad-y) var(--container-pad-x);
}

header,
section {
    margin: 1em auto;
}

.flex-container {
    flex-direction: column;
    gap: 2em;
}

h1 {
    font-size: var(--h1-size);
    text-align: center;
}

h1 .subtitulo {
font-size: 1.1rem;
}

.parrafo-container {
    font-size: 1rem;
}

h2 {
    font-size: var(--h2-size);
    text-align: left;
}

header img {
    width: 80%;
    max-width: 250px;
}

/* los cambios clave para que se ven bien en telefonos */
#proyectos .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    text-align: center;
    justify-items: center;
    justify-content: center;
}

.tarjetas-js {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.habilidades-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

#toggle-dark {
    top: 1em;
    right: 1em;
}

.social-nav-links {
    display: flex;
    margin-top: 2em;
}

.coming-soon-icon,
.project-icon {
    display: none;
}

.icono {
    display: none;
}

.card-links {
    flex-direction: column; /* Apila los botones verticalmente */
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.card-links a {
    width: 100%;
    text-align: center;
    }
}

@media (max-width: 768px) {
    .social-nav-links {
        display: flex;
        margin-top: 2em;
    }
}